body {
  background-color: #255555;
}

.early {
  color: #44bd32;
}

.card-inner {
  margin: 20px;
}

.ppcard {
  background-color: #29a3a3;
}
.dgcard {
  background-color: #2c53e4;
}
.dscard {
  background-color: #fff866;
}
.cpcard {
  background-color: #999999;
}
.cmcard {
  background-color: #390088;
}
.chcard {
  background-color: #ff0047;
}

.late {
  color: #c23616;
}

.holcount {
  font-size: 50px;
  text-align: center;
}

.resources-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.mobpic {
  width: 500px;
}

.img {
  text-align: center;
}

.bg-premoblu {
  background-color: #00aa99;
}
.duedate {
  text-align: center;
}
.assignment-card {
  margin: 0 auto;
}
.duedatedate {
  font-size: 25px;
}
